{% extends 'base.html' %}

{% block title %} Delete Reservation {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-6 text-light">Delete Reservation</h1>
            <p class="text-light">Are you sure you want to delete reservation for <span class="text-warning">{{ reservation.date }}: {{reservation.start_time}}-{{reservation.end_time}}?</span>
            </p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'users:user-reservations' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}