{% extends 'base.html' %}

{% block title %} Delete Personnel member {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-6 text-light">Delete Personnel member</h1>
            <p class="text-light">Are you sure you want to delete member <span class="text-warning">{{ personnel.name }}?</span></p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'restaurant:personnel-list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}