{% extends 'base.html' %}

{% load my_tags %}

{% block title %} Review List {% endblock %}

{% block content %}

<h2 class="text-center text-warning">Reviews</h2>
<h2 class="text-center text-info">Average rating: {{ avg_rating }}</h2>

<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for review in reviews %}

    <div class="col">
        <div class="card border-dark bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">Name: {{ review.name }}</h5>
                <h5 class="card-text">Rating: {{ review.rating }}</h5>
                <p class="card-text">Text: {{ review.review_text }}</p>
                <div class="card-footer">
                    <small class="text-body-light fst-italic text-info">"{{ review.date }}"</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}