<nav class="navbar bg-body-tertiary bg-dark text-light border-top border-bottom" data-bs-theme="dark">
  <div class="container-fluid d-flex justify-content-center align-items-center position-relative">
    <div class="text-center">
      <h5>Contact Us</h5>
      <ul class="list-unstyled mb-0">
        <li>Address: Köybaşı Caddesi No:112
Dereköy Mahallesi, 07500 Kaş / Antalya, Türkiye</li>
        <li>Phone Number: +90 507 766 45 43</li>
        <li>Email: ironhoof.info@gmail.com</li>
      </ul>
    </div>
    <div class="position-absolute end-0">
      <p class="mb-0 fst-italic">© 2025 Iron Hoof SteakHouse</p>
    </div>
  </div>
</nav>