{% load static %}

<nav class="navbar navbar-expand-lg bg-dark border-body sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="restaurant:home">
            <img src="{% static 'images/buffalo.png' %}" alt="Logo" width="100" height="100"
                 class="d-inline-block align-text-center">
            Iron Hoof SteakHouse
        </a>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'restaurant:home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Services</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Menu</a></li>
                    <li><a class="dropdown-item" href="#">Food Delivery</a></li>
                    <li><a class="dropdown-item" href="#">Banquet</a></li>
                    <li><a class="dropdown-item" href="#">Guided Farm Tour</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'reservation:reservation-create' %}">Reservation</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'restaurant:about' %}">About us</a>
            </li>


        </ul>


        <ul class="nav justify-content-end">
            {% if user.is_staff %}
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'restaurant:home' %}">Admin</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'restaurant:home' %}">Personal cabinet</a>
            </li>
            <li class="nav-item">

                <a class="navbar-brand" href="{% url 'restaurant:home' %}">Logout</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'restaurant:home' %}">Login</a>
            </li>
            <li class="nav-item">

                <a class="navbar-brand" href="{% url 'restaurant:home' %}">Sign up</a>
            </li>
            {% endif %}
        </ul>


    </div>
</nav>
