{% extends "base.html" %}

{% block title %}Password Reset Request{% endblock %}

{% block content %}

<h4 class="text-center text-warning">Enter your email to receive a link for resetting your password</h4>
<div class="d-flex justify-content-center align-items-center">
    <form method="post" class="form-floating bg-dark p-4 rounded">
        {% csrf_token %}
        <div class="mb-3 text-light">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <button class="btn btn-success w-100" type="submit">Send link</button>
    </form>
</div>
{% endblock %}