{% extends "base.html" %}

{% block title %}Confirm Password Reset{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <h4 class="text-center text-warning">{{ email }}</h4>
    <h4 class="text-center text-warning"> Please, enter your new password</h4>
    <form method="post" class="form-floating bg-dark p-4 rounded">
        {% csrf_token %}
        <div class="mb-3 text-light">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <div class="mb-3 text-light">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>
        <button class="btn btn-success w-100" type="submit">Reset password</button>
    </form>
</div>
{% endblock %}