{% extends 'base.html' %}

{% block title %} Admin Panel {% endblock %}

{% block content %}

<h2 class="text-center text-warning">Administration Panel</h2>
<div class="d-flex justify-content-center align-items-center">
    <div class="list-group list-group-numbered-flush">
        <a href="{% url 'services:meal-category-list' %}" class="list-group-item list-group-item-action border-secondary bg-dark text-light">Menu</a>
        <a href="{% url 'restaurant:service-list' %}" class="list-group-item list-group-item-action border-secondary bg-dark text-light">Services</a>
        <a href="{% url 'restaurant:personnel-list' %}" class="list-group-item list-group-item-action border-secondary bg-dark text-light">Personnel</a>
        <a href="{% url 'restaurant:review-list' %}"
           class="list-group-item list-group-item-action border-secondary bg-dark text-light">Reviews</a>
        <a href="{% url 'reservation:reservation-list' %}" class="list-group-item list-group-item-action border-secondary bg-dark text-light">Reservations</a>
        <a href="{% url 'reservation:table-list' %}"
           class="list-group-item list-group-item-action border-secondary bg-dark text-light">Tables</a>
        <a href="{% url 'users:all-users' %}" class="list-group-item list-group-item-action border-secondary bg-dark text-light">Users</a>
    </div>
</div>


{% endblock %}
