{% extends 'base.html' %}
{% load my_tags %}
{% load static %}

{% block title %} {{ meals.0.category }} {% endblock %}

{% block content %}
<a href="{% url 'services:menu' %}" class="btn btn-secondary">Back to menu</a>
<h1 class="text-center text-warning text-decoration-underline fst-italic">{{ meals.0.category }} Menu</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for meal in meals %}
    <div class="col d-flex align-items-stretch">
        <div class="card mb-3 border-dark ">
            <img src="{{ meal.image | media_filter }}" class="card-img-top" alt="{{ meal.name }}">
            <div class="card-body bg-dark">
                <h3 class="card-title text-center text-warning fst-italic">{{ meal.name }}</h3>
                <p class="card-text text-center text-light">{{ meal.description }}</p>
                <h3 class="card-text text-center text-light fst-italic ">{{ meal.price }}$</h3>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}